h1 {
    font-weight: bold;
    color: #0066CC;
}
form{
    border: 3px dotted #0066CC;
}
p span{
    float: left;
    padding-left: 20px;
    font-weight: bold;
}
/*
.campo{
    clear: left;
    padding-left: 20px;
    margin-left: 80px;
}
*/
